<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pccaps.pmiconference">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_180"
        android:roundIcon="@drawable/icon_180"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PopTab3" />
        <activity android:name=".PopTab2" />
        <activity android:name=".PopTabEvents" />
        <activity android:name=".PopTabCustomizable" />
        <activity android:name=".PopTabDates" />
        <activity android:name=".Settings" />
        <activity
            android:name=".clearCustomizableWarning"
            android:theme="@android:style/Theme.Holo.Light.Dialog"></activity>
        <activity
            android:name=".PreferenceActivitySettings"
            android:label="@string/title_activity_preference"></activity>
        <receiver android:name="ratingListener">
            <intent-filter>
                <action android:name="ratingGiven"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>